{% extends 'master/master.html' %}

{% block 'title' %} About GeNovel {% endblock %}


{% block 'body' %}


<!-- Jumbotron -->
<div class="card card-image" id="parallax1" style="background-image: url(../media/bg1.jpg);">
  <div class="text-white rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->

      <h2 class="card-title h2 my-2 py-2 animated slideInRight slow" style="font-weight:bold;font-family:Times New Roman;font-size:30px;color:brown;"><span style="background-color:white">About GeNovel: Genuine Novel Review</span></h2>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="container-fluid rgba-yellow-light" style="padding:50px 0px">
  <div class="container white">
  <div class="row">
    <div class="col-sm-12" style="padding:30px 0px">


      <p><center><img src="../../media/logo.PNG" style="height:auto;max-width:100%"></center></p>
      <h3 style="text-align:center;font-weight:bold;font-family:Times New Roman;font-size:30px;color:brown;">Welcome to GeNovel</h3>
      <p style="text-align:center;font-weight:bold;font-family:Times New Roman;font-size:16px;padding: 0px 20px">Genuine Novel Review Web Application, a great eye for good books.
       <br><br>Using the text analysis feature from opinion mining technique, your reviews will automatically be polarized as positive, negative or neutral sentiment value. If you want to read best novels as per the genuine reviews of people, you are using the right novel review application. The reviews are being managed by our administrator that depicts storing only accurate and relevant reviews on novels. Hurry up and sign up to use our application. Your credential information are safe with us. Feel free to provide your feedbacks. We are delighted if we have to add more genres and novels as per the need. So stay connected with us. </p>
    </div>
  </div>
    </div>
</div><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-10 rgba-yellow-light" style="padding:50px">
      <h5  style="font-weight:bold;font-family:Times New Roman;font-size:20px;color:brown;"> Aim:</h5>
      <p style="font-weight:bold;font-family:Times New Roman;font-size:16px;">A novel review-based web application for the purpose of posting and accessing genuine reviews on different novel books easily by users. This leads to a time efficient, user friendly and well-managed web application.</p>

    </div>
    <div class="col-sm-2">
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10 rgba-yellow-light" style="padding:50px">
      <h5  style="font-weight:bold;font-family:Times New Roman;font-size:20px;color:brown;">Mission:</h5>
      <p style="font-weight:bold;font-family:Times New Roman;font-size:16px;">
      1.	To improve customer experience and reduce time consumption by separating genres of novel books into different categories.<br>
      2.	To authorize registered users to post product reviews and ratings to novel books through their own account.<br>
      3.	To monitor product reviews with ratings by presenting the genuine rating sentiment score using opinion mining technique.<br>
      4.	To increase accuracy of reviews by ability of administrator to delete unnecessary reviews posted about novels.
      </p>
    </div>
  </div>
</div><br><br><br><br>
<div class="container-fluid rgba-yellow-light" id="none" style="padding:50px 0px">
<h3 style="text-align:center;font-weight:bold;font-size:20px;color:brown;font-family:Times New Roman;padding: 0px 20px">We provide list of Novels from different genres</h3>
<br><br>
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/adventure2.jpg" style="max-height:500px;width:auto"
          alt="First slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/adventure3.jpg" style="max-height:500px;width:auto"
          alt="First slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/adventure6.jpg" style="max-height:500px;width:auto"
          alt="First slide">
            </div>
            <div class="col-sm-3">
                <img class="d-block w-100" src="../media/adventure5.jpg" style="max-height:500px;width:auto"
          alt="First slide">
            </div>
          </div>
        </div>

        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive" style="text-align:center;font-weight:bold;color:brown;font-family:Times New Roman;font-size:30px;"><span style="background-color:white">Adventurous Books</span></h1>

      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/fantasy1.jpg" style="max-height:500px;width:auto"
          alt="Second slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/fantasy7.jpg" style="max-height:500px;width:auto"
          alt="Second slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/fantasy4.jpg" style="max-height:500px;width:auto"
          alt="Second slide">
            </div>
            <div class="col-sm-3">
                <img class="d-block w-100" src="../media/fantasy5.jpg" style="max-height:500px;width:auto"
          alt="Second slide">
            </div>
          </div>
        </div>
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive" style="text-align:center;font-weight:bold;color:brown;font-family:Times New Roman;font-size:30px;"><span style="background-color:white">Fantasy Books</span></h1>

      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
          <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/horror1.jpg" style="max-height:500px;width:auto"
          alt="Third slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/horror7.jpg" style="max-height:500px;width:auto"
          alt="Third slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/horror8.jpg" style="max-height:500px;width:auto"
          alt="Third slide">
            </div>
            <div class="col-sm-3">
                <img class="d-block w-100" src="../media/horror9.jpg" style="max-height:500px;width:auto"
          alt="Third slide">
            </div>
          </div>
        </div>
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive" style="text-align:center;font-weight:bold;color:brown;font-family:Times New Roman;font-size:30px;"><span style="background-color:white">Horror Books</span></h1>

      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
          <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/romance1.jpg"  style="max-height:500px;width:auto"
          alt="Fourth slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/romance3.jpg" style="max-height:500px;width:auto"
          alt="Fourth slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/romance6.jpg" style="max-height:500px;width:auto"
          alt="Fourth slide">
            </div>
            <div class="col-sm-3">
                <img class="d-block w-100" src="../media/romance10.jpg" style="max-height:500px;width:auto"
          alt="Fourth slide">
            </div>
          </div>
        </div>
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive" style="text-align:center;font-weight:bold;color:brown;font-family:Times New Roman;font-size:30px;"><span style="background-color:white">Romantic Books</span></h1>

      </div>
    </div>
     <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
          <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/thriller1.jpg" style="max-height:500px;width:auto"
          alt="Fifth slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/thriller4.jpg" style="max-height:500px;width:auto"
          alt="Fifth slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block w-100" src="../media/thriller6.jpg" style="max-height:500px;width:auto"
          alt="Fifth slide">
            </div>
            <div class="col-sm-3">
                <img class="d-block w-100" src="../media/thriller3.jpg" style="max-height:500px;width:auto"
          alt="Fifth slide">
            </div>
          </div>
        </div>
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive" style="text-align:center;font-weight:bold;color:brown;font-family:Times New Roman;font-size:30px;"><span style="background-color:white">Thriller/Mystery Books</span></h1>

      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
</div>
{% endblock %}