{% extends 'master/master.html' %}
{% block 'title' %} Change Password {% endblock %}

{% block 'body' %}
<!-- Jumbotron -->
<div class="card card-image" id="parallax1" style="background-image: url(../media/bg1.jpg);">
  <div class="text-white rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->

      <h2 class="card-title h2 my-2 py-2 animated slideInRight slow" style="font-weight:bold;font-family:Times New Roman;font-size:30px;color:brown;"><span style="background-color:white">Change Password</span></h2>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="container" style="padding:100px 0px">
    <div class="card">
        <div class="container"><br>
            <h3 style="text-align:center;color:brown;font-weight:bold;font-family:Times New Roman" class="mt-4">Change Password</h3><br>
        <div class="card-body">
            {% include 'widget/message.html' %}
            <form action="{% url 'changepassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-outline">
                    <input type="password" name="pass1" id="formControlSm2" class="form-control">
                    <label class="form-label" for="formControlSm2">New Password</label>
                </div>
                <div class="form-outline">
                    <input type="password" name="pass2" id="formControlSm3" class="form-control">
                    <label class="form-label" for="formControlSm3">Retype Password</label>
                </div><br>
                <center><button type="submit" class="btn peach-gradient">Change</button></center>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}