{% extends 'master/master.html' %}

{% block 'title' %} Instruction {% endblock %}


{% block 'body' %}


<!-- Jumbotron -->
<div class="card card-image" id="parallax1" style="background-image: url(../media/bg1.jpg);">
  <div class="text-white rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->

      <h2 class="card-title h2 my-2 py-2 animated slideInRight slow" style="font-weight:bold;font-family:Times New Roman;font-size:30px;color:brown;"><span style="background-color:white">Instruction</span></h2>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="container-fluid rgba-yellow-light" style="padding:50px 0px">
  <div class="container white">
  <div class="row">
    <div class="col-sm-12" style="padding:30px">


      <p><center><img src="../../media/logo.PNG" style="height:auto;max-width:100%"></center></p>
      <h3 style="text-align:center;font-weight:bold;font-family:Times New Roman;font-size:30px;color:brown;">Do you want to know how GeNovel works</h3>
      <p style="text-align:center;font-weight:bold;font-family:Times New Roman;font-size:16px;padding: 0px 20px">Here are the instructions while using GeNovel: Genuine Novel Review
       <br><br>
        <ul style="font-weight:bold;font-family:Times New Roman;font-size:16px">
            <li>Choose the genre for you ease to view novels. </li>
            <li>You can see basic information about the novels. </li>
            <li>Click novel of you choice to read more about it. </li>
            <li>Know what other people think about this novel from their review, rating and a polarity generated as a sentiment value based on the review. </li>
            <li>Read this book? Then login from your account to post a comment. If you are new, sign up a new account. </li>
        </ul><br>
        <center><img src="../../media/bg2.jpg" style="height:280px;max-width:100%"></center>
      </p>
    </div>
  </div>
    </div>
</div>
{% endblock %}